$size-xxs: 2px;
$size-xs: 5px;
$size-sm: 10px;
$size-md: 20px;
$size-lg: 30px;
$size-xl: 50px;
$size-xxl: 70px;

body {
  background-color: #eee;
}
@import "utility/utility";
@import "colorScheme/index";
@import "components/index";
